@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
}

/*oracle section*/
.oracleSection {
    height: 350px;
    position: relative;
    background-color: #000;
    z-index: 0;
    transition: .4s;
    top: 0;
}

.clickFirstDivSection {
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
}

.oracleSectionHeight {
    position: relative;
    height: 100vh;
    transition: height;
    background-color: #000;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: height .4s;
    z-index: 0;
    margin-top: 2px;
}

.autoplay-video .rh5v-DefaultPlayer_component {
    background-color: #fff;
}

.firstDiv {
    position: relative;
    width: 100%;
    background: url("/public/assets/images/skyland1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 350px;
    z-index: 2;
    /* transform: translateX(-50%); */
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
    padding: 50px;
    color: #fff;
}

.backBtnSlider {
    width: 45%;
    background: transparent;
    border: none;
    font-size: 24px;
    font-weight: 700;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backText {
    margin-left: 10px;
}

.oracleSecondDivTranslate::before,
.oraclefirstDivTranslate::before,
.firstDiv::before,
.secondDiv::before,
.oracleFirstDiv::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;

}

.oracleSecondDiv::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}


.firstDiv::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background: #fff;
    z-index: 4;
    right: 0;
}

.secondSliderContent {
    /* z-index: 1; */
    height: 100%;
    padding: 50px;
}

.firstDivSliderThirdAnimation .carousel-root {
    height: 100%;
}

.secondSliderContent .carousel.carousel-slider {
    height: 100%;
}

.firstDivSliderThirdAnimation::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.firstDiv1 {
    z-index: 2;
}

.forAgents {
    background-color: transparent;
    border: 1px solid #f53f0c;
    padding: 10px 50px;
    cursor: pointer;
    color: #fff;
}

.secondDiv {
    width: 100%;
    background: url("/public/assets/images/nishantasi1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 350px;
    z-index: 2;
    /* transform: translateX(100%); */
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    padding: 50px;
    position: relative;
}


.firstDivSliderFirst {
    background-color: #fff;
    width: 100%;
    color: #002532;
    height: 100%;
    z-index: 1;
    transition: background-color .4s;
    /* transform: translateX(-50%); */
    transition: height .4s;
}

.firstDivSliderThird {
    width: 100%;
    background: url("/public/assets/images/yaman3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100vh;
    z-index: 1;
    /* transform: translateX(0%); */
    transition: 1s;
    position: relative;
    text-align: center;
    transition: transform 0.8999s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: rotateY(-49deg);
    left: -130%;
    padding: 50px;
}

.firstDivSliderThirdAnimation {
    width: 100%;
    background: url("/public/assets/images/yaman3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100vh;
    z-index: 1;
    position: relative;
    transition: transform 0.8999s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: rotateY(0deg);
    transform: translate(130%);
    left: -130%;

}

.flipCard {
    width: 100%;
    /* height: 100vh; */
    perspective: 1000px;
}

.firstDivSlidersecond::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.firstDivSliderThird::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.firstDivSlidersecond {
    width: 100%;
    background: #002532;
    color: #fff;
    height: 100%;
    z-index: 1;
    /* transform: translateX(0%); */
    position: relative;
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: rotateY(84deg);
    perspective: 500px;
    left: -50%;
    padding: 50px;
}

.firstDivSlidersecondAnimation {
    width: 100%;
    background: #002532;
    color: #fff;
    height: 100vh;
    z-index: 1;
    position: relative;
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: rotateY(0deg);
    transform: translateX(50%);
    left: -50%;
}

.firstDivSlider {
    top: 0;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1;
    transition: .4s;
    perspective: 500px;
}


.oracleFirstDiv {
    width: 50%;
    background: url("/public/assets/images/skyland1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100vh;
    z-index: 2;
    /* transform: translateX(-50%); */
    transition: all .4s;
    /* transition: width 1s; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
    padding: 50px;
    position: relative;
}


.firstDivSlidersecondOpacity0 h3,
p,
button {
    opacity: 0;
    transition: all 5s;
}

.firstDivSlidersecondOpacity1 h3,
p,
button {
    opacity: 1;
    transition: opacity 1s;
}

.oracleSecondDiv {
    width: 50%;
    background: url("/public/assets/images/nishantasi1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100vh;
    z-index: 2;
    /* transform: translateX(100%); */
    transition: all .4s;
    /* transition: width 1s; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    padding: 50px;
}

.oracleSecondDivTranslate {
    width: 50%;
    background: url("/public/assets/images/02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100vh;
    z-index: 2;
    transform: translateX(100%);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
    padding: 50px;
}

.oraclefirstDivTranslate {
    width: 100%;
    background: url("/public/assets/images/skyland1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100vh;
    z-index: 2;
    /* opacity: 0; */
    transform: translateX(-100%);
    transition: transform 1s;
    /* transition: opacity 4s;  
    transition: z-index 4s; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
    padding: 50px;
}

.oraclefirstDivTranslateZindex {
    width: 100%;
    background: url("/public/assets/images/skyland1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100vh;
    opacity: 0;
    transform: translateX(-100%);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
    padding: 50px;
    position: relative;
}

.firstDivFlex {
    display: flex;
}

/*carousel*/
/* .secondSliderContent .carousel.carousel-slider {
    height: 100%;
} */

/* .secondSliderContent .carousel-root {
    height: 100%;
} */

/*carousel*/

/*oracle section*/
.mainHomePage {
    position: relative;
    height: auto;
}

.mainNavBar {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.mainNavBar img {
    height: 30px;
}

.mainNavBar ul.navbar-nav {
    margin: auto;
}

.navbar-toggler:focus {
    color: #fff;
}

.signNavbar {
    margin-bottom: 0;
}

.signNavbar li,
.signNavbarSecond li {
    list-style: none;
}

.projectDetailSlider {
    position: absolute;
    text-align: initial;
    color: aliceblue;
    top: 48%;
    left: 7%;
    width: 100%;
}

.mainHomePage .mainNavBar nav.navbar.navbar-expand-lg {
    padding: 0 45px;
}

.progressBarContainer h3 {
    font-size: 19px;
    font-weight: 700;
}

.mainHomePage .mainNavBar nav.navbar.navbar-expand-lg {
    padding: 14px 38px;
}

.progressLine.yellow-text span.progressBar {
    background-color: #fff;
}

.mainHomePage .carousel .slide img {
    height: 100vh;
    object-fit: cover;
    object-position: 50% 50%;
}

.mainHomePage .carousel .control-dots .dot {
    width: 14%;
    border-radius: 0;
    position: relative;
}

/* .mainHomePage .carousel .control-dots .dot::after {
    content: "Projects Details";
    position: absolute;
    height: 20px;
    width: 20px;
    color: #fff;
    font-weight: 600;
    left: 19%;
    bottom: -18px;
    width: auto;
    font-size: 19px;
} */

.mainHomePage .carousel .control-dots .dot {
    border-radius: 20px;
    height: 5px;
    box-shadow: none;
}

.projectLable {
    position: absolute;
    bottom: 32px;
    width: 13%;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 19px;
}

.mainHomePage .carousel.carousel-slider .control-arrow {
    display: none;
}

.projectDetailSlider h4,
h1,
h5 {
    margin-bottom: 20px;
}

.projectDetailSlider h1 {
    font-weight: 700;
}

.navbarMenu {
    background: rgba(0, 0, 0, 0.2);
    padding: 0px 20px;
    border-radius: 20px;
    border: 1px solid #fff;
}

/* .navbar-nav .nav-link.active{
    color: red;
} */
.navbarMenu .nav-item .home {
    color: #f53f0c;
}

.navbarMenu .nav-item a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    padding: 6px;
}

.projectDetailSlider svg {
    margin-right: 6px;
}

.projectBtn {
    background-color: #f53f0c;
    border: none;
    border-radius: 20px;
    padding: 4px 30px;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    /* margin-top: 30px; */
}

.projectBtn:focus {
    outline: none;
}

/* .signBtn {
    background-color: #f53f0c;
    color: #fff;
    border-radius: 20px;
    padding: 6px 20px;
} */


.agentDeveloperSection {
    /* padding: 20px 0; */
    margin-top: -6px;
    height: 300px;
}

.agentDeveloperSectionTrue {
    height: 100vh;
    transition: all .4s ease-in-out;
}

.exploreMoreBtn {
    background-color: #f53f0c;
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 3px 15px;
}

.dummyContent {
    height: 50vh;
    background-color: aquamarine;
}

.agentSection {
    background-color: #002532;
    padding: 20px 55px;
    color: #fff;
    height: 300px;
    transition: height 2s;
    transition: width 2s;
    text-align: end;
    transform: translateX(-50%);
    transition: transform .55s ease-out;
}

.developerSection {
    background-color: #507583;
    padding: 20px 55px;
    color: #fff;
    height: 300px;
    width: 100%;
    transition: height 2s;
    transition: width 2s;
    transform: translateX(50%);
    transition: transform .55s ease-out;
}

.firstDiv1 h3,
.firstDiv1 p {
    opacity: 1;
    transition: .4s;
}

.firstDiv0 h3,
.firstDiv0 p {
    opacity: 0;
    transition: .34s;
}

.agentFirstDiv {
    width: 100%;
    transition: width 2s;
}

.agentFirstDivChange {
    width: 50%;
    transition: width 2s;
}

.agentDevelopersSection {
    position: relative;
    transition: width 2s;
    margin-top: -6px;
    height: 300px;
    transition: height 2s;
}

.videoPlayer {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autoplay-video {
    position: relative;
    width: 100%;
    height: 100%;
}

.agentSectionheight {
    height: 100vh;
    background-color: #002532;
    padding: 20px;
    color: #fff;
    width: 100%;
    transition: height 2s;
    /* transition: width 1s; */
}

.developerSectionheight {
    background-color: #507583;
    height: 100vh;
    width: 100%;
    padding: 20px;
    color: #fff;
    transition: height 2s;
    /* transition: width 2s; */
}

.agentSectionWidth {
    /* width: 50%; */
    height: 100vh;
    background-color: #002532;
    padding: 20px;
    color: #fff;
    /* width: 50%; */
    /* transition: width 2s; */
    /* transition: height 2s; */
}

.agentDeveloperSectionagent {
    overflow: hidden;
    background-color: #000;
}

.show-transition {
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.agentSection h3,
.developerSection h3 {
    font-size: 35px;
    font-weight: 700;
}

.mainHomePage .videoSlider video {
    object-fit: cover;
}

.agentMainSection {
    height: 100vh;
    margin-top: -6px;
}

.autoplay-video .rh5v-Overlay_component {
    display: none;
}

/* .agentMainSection,
.developerMainSection {
    height: auto;
    transition: all ease-in-out 5s;
    margin-top: -7px;
} */
.animate__animated.animate__flipInY {
    animation-duration: 1s;
    height: 100vh;
}

/* h3 {
    margin: 5px 0;
} */

.sliderContainer {
    position: relative;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-dots {
    bottom: -30px;
}

.yellow-text h3 {
    color: #fff;
}

.progressBarContainer {
    position: absolute;
    bottom: 80px;
    width: 100%;
    text-align: center;
    /* left: 150px; */
    display: flex;
    justify-content: center;
}

.progressBarContainer .progressLine {
    display: block;
    width: 10%;
    padding: 0;
    cursor: pointer;
    margin-right: 5%;
    float: left;
    color: rgba(255, 255, 255, 0.7);
}

.progressBarContainer div:last-child {
    margin-right: 0;
}

.progressBarContainer div span.progressBar {
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.4);
    display: block;
    border-radius: 20px;
}

.progressBarContainer div span.progressBar .inProgress {
    background-color: #f53f0c;
    width: 0%;
    height: 3px;
    border-radius: 20px;
}

.agentTabs {
    background-color: #002532;
    color: #fff;
    padding: 40px;
    height: 100vh;
    position: relative;
}

.DevelopersTabs {
    background-color: #002532;
    color: #fff;
    padding: 40px;
    height: 100vh;
    position: relative;
}

.developersSection {
    background-color: #202020;
    color: #fff;
    padding: 40px;
    height: auto;
    position: relative;
}

.mainHomePage .nav-pills .nav-link.active {
    /* color: red; */
    background-color: #002532;
    border-radius: 0;
    padding: 12px;
    color: #fff;
}

.mainHomePage .nav-pills .nav-link {
    font-size: 20px;
    font-weight: 700;
    color: #002532;
}

.firstSection {
    margin-top: 20px;
}

.firstSection .backBtnofagent {
    color: #002532;
    background: none;
    border: none;
    font-size: 29px;
    font-weight: 700;
}

.mainNavBar nav.navbar.navbar-expand-lg button.navbar-toggler:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.autoplay-video .rh5v-DefaultPlayer_controls {
    display: none;
}

/* .mainHomePage .mainNavBar nav.navbar.navbar-expand-lg .container-fluid {
    flex-wrap:nowrap
} */

.mainNavBar nav.navbar.navbar-expand-lg .container-fluid a.navbar-brand {
    display: flex;
    /* width: 68%; */
}

@media (max-width:1368px) {

    .signNavbarSecond {
        display: none;
    }
}

@media (max-width:1366px) {
    .signNavbarSecond {
        display: none;
    }
}

@media (max-width:1024px) {
    .projectDetailSlider {
        /* margin-left: 35px; */
        top: 36%;
    }

    .projectDetailSlider h1 {
        font-size: 30px;
    }

    .progressBarContainer {
        bottom: 20px;
    }


}

@media (max-width:812px) {
    .projectBtn {
        margin-top: 5px;
    }

    .signNavbar {
        display: none;
    }

    .navbarMenu .nav-item a {
        color: #000;
    }

    .navbarMenu {
        background-color: #fff;
    }

    .navbar-collapse {
        background-color: #fff;
        height: 191px;
        margin-top: 5px;
    }

    .signNavbarSecond {
        display: block;
    }

    .mainNavBar nav.navbar.navbar-expand-lg .container-fluid a.navbar-brand {
        display: flex;
        width: 89%;
        justify-content: end;
    }

    .projectDetailSlider h4,
    h1,
    h5 {
        margin-bottom: 8px;
    }

    .projectDetailSlider {
        /* margin-left: -2px; */
        top: 30%;
    }
}

@media (max-width:768px) {
    .projectDetailSlider h1 {
        font-size: 25px;
        margin-bottom: 5px;
    }

    .navbar-collapse {
        background-color: #fff;
        height: 191px;
        margin-top: 5px;
    }

    .signNavbar {
        display: none;
    }

    .signNavbar {
        /* padding-left: 47px; */
        /* width: 35%; */
    }

    .projectDetailSlider h4,
    h5 {
        margin-bottom: 5px;
    }

    .projectBtn {
        margin-top: 10px;
    }

    .projectDetailSlider {
        /* margin-left: 26px; */
    }

    .mainNavBar nav.navbar.navbar-expand-lg .container-fluid a.navbar-brand {
        display: flex;
        width: 80%;
        justify-content: end;
    }

    ul.signNavbar svg.bi.bi-person-fill {
        margin-top: -8px;
    }
}

@media (max-width:736px) {
    .projectDetailSlider {
        /* margin-left: -56px; */
    }

    .progressBarContainer {
        bottom: 38px;
    }

    .oracleFirstDiv {
        opacity: 0;
    }

    .firstDivFlex {
        display: block;
    }

    .oracleSectionHeight {
        overflow-y: visible;
        overflow-x: visible;
    }

    .secondSliderContent .carousel.carousel-slider {
        height: 100%;
    }

    .secondSliderContent .carousel-root {
        height: 100%;
    }

    .firstDiv::after {
        content: "";
        position: absolute;
        width: 0;
        height: 100%;
        background: #fff;
        z-index: 4;
        right: 0;
    }

    .secondDiv::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        background: white;
        top: 0;
        z-index: 4;
    }

    .mainNavBar nav.navbar.navbar-expand-lg .container-fluid a.navbar-brand {
        width: 85%;
        -webkit-justify-content: end;
        -webkit-align-items: center;
    }
    .signNavbarSecond{
        margin-bottom: 0;
    }
}


@media (max-width:500px) {
    .mainHomePage .carousel .slide img {
        height: 500px;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .secondSliderContent {
        padding: 30px;
    }

    /* .secondSliderContent .carousel .control-dots{
        bottom: 34%;
    } */
    .signNavbarSecond {
        margin-bottom: 0;
        margin-top: -5px;
        padding-left: 43px;
    }

    .mainNavBar nav.navbar.navbar-expand-lg .container-fluid a.navbar-brand {
        width: 68%;
        justify-content: center;
    }

    .mainHomePage .mainNavBar nav.navbar.navbar-expand-lg {
        padding: 14px 10px;
    }

    .progressBarContainer h3 {
        display: none;
    }

    .autoplay-video .rh5v-DefaultPlayer_component.videoPlayer .rh5v-DefaultPlayer_video {
        height: 373px;
        object-fit: cover;
    }

    .projectDetailSlider {
        top: 41%;
        /* margin-left: 8px; */
    }

    .projectDetailSlider h1 {
        font-size: 20px;
    }

    .projectBtn {
        padding: 5px 23px;
        font-size: 12px;
    }

    .mainHomePage .carousel .control-dots .dot {
        width: 12%;
    }

    /* .agentSection,
    .developerSection {
        margin-top: 5px;
    } */

    .mainNavBar nav.navbar.navbar-expand-lg .container-fluid a.navbar-brand {
        margin-left: 25px;
    }
}

@media (max-width:360px) {
    .projectDetailSlider h1 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .projectDetailSlider h4,
    h5 {
        margin-bottom: 10px;
    }
}